<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.dsn">
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".Registration" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".SelectAcadYear" />
        <activity android:name=".GroupOfAcadYearForProfessor" />
        <activity android:name=".GroupOfAcadYearForStudent" />
        <activity android:name=".GroupOfAcadYearForHOD" />
        <activity android:name=".AboutSubjectForProfessor" />
        <activity android:name=".AboutSubjectForStudent" />
        <activity android:name=".MessageToHOD" />
        <activity android:name=".MessageToRepresentative" />
        <activity android:name=".TaskPageForDoctors" />
        <activity android:name=".HODForStudent" />
        <activity android:name=".HODForProfessor" />
        <activity android:name=".HODForHOD" />
        <activity android:name=".QuestionStartPage" />
        <activity android:name=".QuestionForChStudent" />
        <activity android:name=".TaskPageForStudents" />
        <activity android:name=".AnswerPage" />
        <activity android:name=".QuestionForChForDoctor" />
        <activity android:name=".AnswersOfTasks" />
        <activity android:name=".ImpotantQuestion" />
        <activity android:name=".TaskAnswers"></activity>
    </application>

</manifest>